[buildout]
develop = .
parts = test

find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zope.testing

[test23]
python = python23
recipe = zc.recipe.testrunner
eggs = zope.testing

[test24]
python = python24
recipe = zc.recipe.testrunner
eggs = zope.testing

[test25]
python = python25
recipe = zc.recipe.testrunner
eggs = zope.testing
